{% extends 'layout.html' %}


{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

<div class="homeimg p-4">
    <div id="description" class="text-center" style="padding-top:100px;">
        <span class="homefont row display-2 text-light d-flex justify-content-center align-items-center">
            <img src="{% static 'images/MB/MB logo.png' %}" alt="" class="pill mt-3" style="width:100px; height:70px; border-radius:35px;"> Group Limited
        </span><br>

        <span class="row d-flex justify-content-center align-items-center" style="padding-bottom:30px;">
        <span id="description" class="col-sm-6  text-light text-center">
        Is a professional services consultancy firm dedicated to providing comprehensive business solutions
        that enables individuals, companies and organizations to establish, operate and grow seamlessyin Tanzania and beyond.
        We especiale in guiding clients through complex regulatory frameworks, legal requirements and business development
        processes ensuring efficiency, compliance and suistanable growth.

        </span>
    </span>

    {% if user.is_authenticated %}
      <a class="btn btn-sm text-light mt-3" id="getservice" href="{% url 'service' %}">
        <i class="bi bi-briefcase-fill text-light mx-2" style="font-size:1rem;" ></i>Add Service
      </a>
    {% else %}
      <a class="btn btn-sm text-light mt-2" id="getservice" href="{% url 'service' %}">
        <i class="bi bi-briefcase-fill text-light mx-2" style="font-size:1rem;" ></i> Our Services
      </a>
    {% endif %}

    </div>
</div> 


{% comment %} <!-- services image and descriptions navigation -->
<div class="homevideo">
  <!-- Background Video -->
  <video autoplay muted loop playsinline>
    <source src="{% static 'images/M&B/fading_video.mp4' %}" type="video/mp4">
    <!--Your browser does not support the video tag. -->
  </video> 

  <!-- Gradient Overlay -->
  <div class="overlay"></div>

  <!-- Content Over Video -->
  <div id="description" class="text-center">
    <span class="homefont mt-5 row display-2 text-light d-flex justify-content-center align-items-center">
      B&M Group Limited
    </span><br>
    <span class="row d-flex justify-content-center align-items-center ">
      <span id="description" class="col-sm-10 text-light text-center">
        Is a professional services consultancy firm dedicated to providing comprehensive business solutions
        that enables individuals, companies and organizations to establish, operate and grow seamlessyin Tanzania and beyond.
        We especiale in guiding clients through complex regulatory frameworks, legal requirements and business development
        processes ensuring efficiency, compliance and suistanable growth.


        Our multidisciplinary expertise  allows us to bridge the gap between business, regulatory authorities and 
        markets-making us a trusted parter in business facilitation and cooperate advisory services.  
      </span>
    </span>
    {% if user.is_authenticated %}
      <a class="btn btn-sm text-light mt-3" id="getservice">
        <i class="bi bi-briefcase-fill text-light mx-2" style="font-size:1rem;"></i>Add Service
      </a>
    {% else %}
      <a class="btn btn-sm text-light mt-2" id="getservice">
        <i class="bi bi-briefcase-fill text-light mx-2" style="font-size:1rem;"></i> Get Started
      </a>
    {% endif %}
  </div>
</div> {% endcomment %}



<!-- Our vision, mission and core values -->
 <div class="d-flex justify-content-center mt-2 mb-2">
<div  class="d-flex flex-nowrap overflow-x-auto  gap-3 p-3 mx-2" style="display: flex;">
    <button type="button" id="getservice" class="top_providers  p-5 text-light flex-shrink-0" data-bs-toggle="modal" data-bs-target="#vision" >
     {% comment %} box-shadow: 0 -2px 5px rgb(2, 24, 13); {% endcomment %}
     OUR VISION
     <span class="d-flex justify-content-center align-items-center ">
         <i class="bi bi-binoculars-fill text-light mx-2" style="font-size:3rem;"></i>
         <span>
         </button>

      <button type="button" id="getservice" class="top_providers  p-5 text-light flex-shrink-0" data-bs-toggle="modal" data-bs-target="#mission" >
         {% comment %} box-shadow: 0 -2px 5px rgb(2, 24, 13); {% endcomment %}
         OUR MISSION
         <span class="d-flex justify-content-center align-items-center">
             <i class="bi bi-graph-up-arrow text-light mx-2" style="font-size:3rem;"></i>
             <span>
             </button>

          <button type="button" id="getservice" class="top_providers  p-5 text-light flex-shrink-0" data-bs-toggle="modal" data-bs-target="#CoreValues" >
             {% comment %} box-shadow: 0 -2px 5px rgb(2, 24, 13); {% endcomment %}
             CORE VALUES
             <span class="d-flex justify-content-center align-items-center">
                 <i class="bi bi-coin text-light mx-2" style="font-size:3rem;"></i>
                 <span>
                 </button>
</div>
</div>


<!-- mission, views and core values modals -->
<!-- The Vision Modal -->
<div class="modal" id="vision">
  <div class="modal-dialog modal-dialog-scrollable modal-md">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
       <!-- start service -->
        <div class="corediv_service  mx-2 my-2 mx-2 p-3 " style="border-radius:35px; cursor:pointer;">
     <div class="core_service d-flex justify-content-center align-items-center px-2" >
    <i class="bi bi-binoculars-fill mx-2" style="font-size:2.5rem; color:rgba(9, 53, 71, 1);"></i>
    <b style="font-size:20px;">OUR VISION</b></div>
    <div class="d-flex justify-content-center align-items-start mx-2 gap-2 rounded my-1" >
        <div class="my-3">
      To be the leading advisory and consultancy partner in Africa, recognized for excellence, 
       innovation, and the delivery of
       outstanding results that empower businesses, communities, and economies.
        </div>
    </div>
        </div>
 <!-- finish service -->
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


<!-- The Mission Modal -->
<div class="modal" id="mission">
  <div class="modal-dialog modal-dialog-scrollable modal-md">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
       <!-- start service -->
        <div class="corediv_service  mx-2 my-2 mx-2 p-3 " style="border-radius:35px; cursor:pointer;">
     <div class="core_service d-flex justify-content-center align-items-center px-2" >
    <i class="bi bi-graph-up-arrow mx-2" style="font-size:2.5rem; color:rgba(9, 53, 71, 1);"></i>
    <b style="font-size:20px;">OUR MISSION</b></div>
    <div class="d-flex justify-content-center align-items-start mx-2 gap-2 rounded my-1" >
        <div class="my-3">
         To deliver quality, results-driven consulting services with competence, diligence, 
        and innovation. We provide creative and impactful solutions that promote growth, sustainability,
         financial inclusion, and positive impact across Africa.
        </div>
    </div>
        </div>
 <!-- finish service -->
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- finish mission modal-->




<!-- The core values Modal -->
<div class="modal" id="CoreValues">
  <div class="modal-dialog modal-dialog-scrollable modal-md">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
       <!-- start service -->
        <div class="corediv_service  mx-2 my-2 mx-2 p-3 " style="border-radius:35px; cursor:pointer;">
     <div class="core_service d-flex justify-content-center align-items-center px-2" >
    <i class="bi bi-coin mx-2" style="font-size:2.5rem; color:rgba(9, 53, 71, 1);"></i>
    <b style="font-size:20px;">CORE VALUES</b></div>
    <div class="d-flex justify-content-center align-items-start mx-2 gap-2 rounded my-1" >
        <div class="my-3">
       • Integrity – Upholding the highest ethical standards in all our engagements, ensuring trust and transparency.<br>
        • Professionalism – Delivering services with competence, diligence, and commitment to excellence.<br>
        • Innovation – Developing creative and impactful solutions tailored to changing client and market needs.<br>
        • Excellence – Striving for outstanding results in every service, exceeding expectations consistently.<br>
        • Client-Centricity – Placing client needs at the heart of our work, ensuring satisfaction and long-term partnerships.
        </div>
    </div>
        </div>
 <!-- finish service -->
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- finish core values modal -->

  <div class="animation_division " id="scrollDiv" >
<!-- start Our services -->
 <div class=" row mx-3 mb-3" >
   <!-- start service -->
  <div class="corediv_service col-sm mx-2 my-2 mx-2 p-3" style="border-radius:35px; cursor:pointer;">
  <span class="core_service d-flex justify-content-center align-items-center px-2" >
    <i class="bi bi-gear-wide-connected mx-2" style="font-size:3rem; color:rgba(9, 53, 71, 1);"></i>
    <b style="font-size:20px;">BUSINESS SETUP AND REGISTRATION</b></span>
  <div class="d-flex justify-content-center align-items-start mx-2 gap-2 rounded my-1" >
        <div>
               We help clients establish businesses by conducting official company searches, 
               registering business names, and offering legal advisory services. Our expertise 
               covers partnership and NGO registration, ensuring compliance with statutory frameworks.
                Additionally, we support foreign investors with business visas and work permits, 
                making the process smooth, lawful, and efficient for both individuals and organizations
                 entering Tanzania’s business environment.

        </div>
  </div>
        </div>
        <!-- finish service -->


         <!-- start service -->
        <div class="corediv_service col-sm mx-2 my-2 mx-2 p-3 " style="border-radius:35px; cursor:pointer;">
     <div class="core_service d-flex justify-content-center align-items-center px-2" >
    <i class="bi bi-sliders mx-2" style="font-size:3rem; color:rgba(9, 53, 71, 1);"></i>
    <b style="font-size:20px;">LEGAL AND COMPLIANCE ASSISTANCE</b></div>
    <div class="d-flex justify-content-center align-items-start mx-2 gap-2 rounded my-1" >
        <div>
        Our team provides legal and compliance support,
         including drafting and reviewing contracts, company incorporation,
          and BRELA registration. We assist with customs clearance to ease import and
           export operations. Furthermore, we manage certificate processing and renewals,
            helping clients remain compliant with regulations. These services safeguard businesses,
             reduce risks, and ensure smooth operations while meeting Tanzania’s legal requirements effectively.

        </div>
    </div>
        </div>
 <!-- finish service -->
  </div>

  

   <div class="row mx-3" >
           <!-- start service -->
  <div class="corediv_service col-sm mx-2 my-2 mx-2 p-3 " style="border-radius:35px; cursor:pointer;">
  <span class="core_service  d-flex justify-content-center align-items-center px-2" >
    <i class="bi bi-bricks mx-2" style="font-size:3rem; color:rgba(9, 53, 71, 1);"></i>
    <b style="font-size:20px;">LAND & PROPERTY CONSULTING</b></span>
  <div class="d-flex justify-content-center align-items-start mx-2 gap-2 rounded my-1" >
        <div>
              
                    We provide expert support in land and property matters, including conducting land 
                  searches, due diligence, and acquisition consulting. Our services also cover human resource
                   advisory, tax registration, and VAT certification. Additionally, we assist with financial 
                   planning and reporting, ensuring businesses and individuals manage property investments 
                   effectively while complying with legal and tax requirements in Tanzania.
        </div>
  </div>
        </div>
        <!-- finish service -->
        <!-- start service -->
  <div class="corediv_service col-sm mx-2 my-2 mx-2 p-3 " style="border-radius:35px; cursor:pointer;">
  <span class="core_service  d-flex justify-content-center align-items-center"  >
    <i class="bi bi-bank2 mx-2" style="font-size:3rem; color:rgba(9, 53, 71, 1);"></i>
    <b style="font-size:20px;">BUSINESS FACILITATION & MARKETING</b></span>
  <div class="d-flex justify-content-center align-items-start mx-2 gap-2 rounded my-1" >
        <div>
               Our facilitation services help businesses grow through sales, mergers, and strategic partnerships.
                We support clients in acquiring building permits, purchase certificates, and import/export licenses. 
                With added marketing connections and networking opportunities, we enable businesses to expand their
                 presence, operate lawfully, and connect with relevant markets. These services strengthen operations
                  and create pathways for sustainable growth.
        </div>
  </div>
        </div>
        <!-- finish service -->
</div>


 <div class="row mx-3" >
         <!-- start service -->
  <div class="corediv_service col-sm mx-2 my-2 mx-2 p-3" style="border-radius:35px; cursor:pointer;">
  <span class="core_service  d-flex justify-content-center align-items-center px-2" >
    <i class="bi bi-currency-exchange mx-2" style="font-size:3rem; color:rgba(9, 53, 71, 1);"></i>
    <b style="font-size:20px;">FINANCE & TAXATION</b></span>
  <div class="d-flex justify-content-center align-items-start mx-2 gap-2 rounded my-1" >
        <div>
               We offer financial and taxation solutions tailored to business needs, including bookkeeping,
                accounting support, and preparation of feasibility studies and projection plans. Our services
                 ensure proper record-keeping, tax compliance, and informed decision-making. With marketing links 
                 and networking strategies, we not only manage financial processes but also help businesses access
                  opportunities that support growth and long-term sustainability.

        </div>
  </div>
        </div>
        <!-- finish service -->
        <!-- start service -->
  <div class="corediv_service col-sm mx-2 my-2 mx-2 p-3" style="border-radius:35px; cursor:pointer;">
  <span class="core_service  d-flex justify-content-center align-items-center px-2" >
    <i class="bi bi-command mx-2" style="font-size:3rem; color:rgba(9, 53, 71, 1);"></i>
    <b style="font-size:20px;">REGULATORY LICENSING & CERTIFICATION</b></span>
  <div class="d-flex justify-content-center align-items-start mx-2 gap-2 rounded my-1" >
        <div>
               We assist clients in obtaining essential licenses and certifications, including Environmental 
               Impact Assessment (EIA), TIC/TiZESA, and chemical importation permits. Our services cover
                industrial licenses, fire and safety, transportation, and TBS standards. Additionally, we 
                support with EWURA, OSHA certificates, and trademark registration. These services ensure
                 businesses operate legally, safely, and in compliance with Tanzania’s regulatory frameworks.

        </div>
  </div>
        </div>
        <!-- finish service -->
      </div>

  <div class="row mx-3" >
        <!-- start service -->
  <div class="corediv_service col-sm mx-2 my-2 mx-2 p-3 " style="border-radius:35px; cursor:pointer;">
  <span class="core_service  d-flex justify-content-center align-items-center px-2"  >
    <i class="bi bi-x-diamond-fill mx-2" style="font-size:3rem; color:rgba(9, 53, 71, 1);"></i>
    <b style="font-size:20px;">LAND & PROPERTY CONSULTING & REAL ESTATE</b></span>
  <div class="d-flex justify-content-center align-items-start mx-2 gap-2 rounded my-1" >
        <div>
               We provide full real estate and property consulting solutions, including land acquisition, 
               searches, and due diligence. Our services cover property valuation, management, and securing 
               building permits. We also offer real estate brokerage and property sales support. With tailored 
               investment advisory, we guide clients in maximizing returns while ensuring compliance with legal
                and regulatory requirements in Tanzania.
        </div>
  </div>
        </div>
        <!-- finish service -->
      </div>
<!-- finish our services-->
    </div>




      <div class="animation_division " id="scrollDiv2" >
<!-- start why chose B&M -->
<div class="p-3 mx-3 bg-light mt-3" style="border-radius:35px; ">
    <span class="choose d-flex justify-content-center align-items-center mb-2 p-3" >
    <i class="bi bi-hand-index-fill mx-2" style="font-size:1.5rem; color:rgba(9, 53, 71, 1);"></i>
    <b style="font-size:20px;">WHY CHOOSE M&B GROUP LIMITED</b></span>

    <div class="row p-2 mx-auto">
      <div class="choose col-sm px-3 py-3 mx-2 my-1 " >
        <b> Proven Track Record</b><br>
          B&M Group Limited has a strong history of successfully delivering projects for 
          local, regional, and international clients. Our impact-driven solutions are designed 
          to meet unique client needs while contributing to sustainable growth and development across
           multiple industries.
      </div>

            <div class="choose col-sm px-3 py-3 mx-2 my-1 "  >
         <b>Multi-Sector Expertise</b><br>
          Our team brings in-depth knowledge and hands-on experience across diverse sectors, 
          including finance, law, ICT, insurance, banking, and microfinance. This multi-
           expertise enables us to provide practical, innovative, and well-rounded business solutions 
           that address complex challenges.
            </div>

      <div class="choose col-sm px-3 py-3 mx-2 my-1 " >
         <b>Customized Solutions</b><br>
        We believe every client is unique. That’s why we provide tailored services designed to
         align with specific objectives. From business facilitation and compliance to growth strategies, 
         our customized solutions ensure efficiency, effectiveness, and long-term sustainability.
      </div>

    </div>

          <div class="row p-2 mx-auto">
      <div class="choose col-sm px-3 py-3 mx-2 my-1 " >
         <b>Regulatory Insight</b><br>
        With a deep understanding of Tanzania’s regulatory frameworks, we guide clients through complex 
        compliance requirements with ease. Our advisory approach minimizes risks and ensures businesses 
        operate legally, transparently, and in alignment with both local and international standards.
      </div>

            <div class="choose col-sm px-3 py-3 mx-2 my-1 " >
         <b>Commitment to Development</b><br>
          At B&M, we are committed to contributing to sustainable economic development. By supporting individuals,
           companies, and organizations, we help create opportunities that strengthen industries, empower communities
           , and drive long-term progress in Tanzania and beyond.
      </div>
    </div>

</div>
<!-- finish why choose B&M -->
</div>




<div id="clients">
  <div class="animation_division " id="scrollDiv3" >
<!-- our clients -->
   <div class="d-flex justify-content-center align-items-center mx-4 mt-4"  style="color:rgba(9, 53, 71, 1);">
    <span class="core_service px-5 d-flex justify-content-center align-items-center">
    <i class="bi bi-people-fill mx-2" style="font-size:2rem; color:rgba(9, 53, 71, 1); "></i>
    <b style="font-size:18px;">OUR CLIENTS</b>
  </span>
</div>

 <div class="d-flex justify-content-center mt-2 mb-2">
<div  class="d-flex flex-nowrap overflow-x-auto  gap-3 p-3 mx-2" style="display: flex;">
  {% for client in clients %}
    <div id="getservice" class="top_providers p-5 text-light flex-shrink-0 bg-white" >
     {% comment %} box-shadow: 0 -2px 5px rgb(2, 24, 13); {% endcomment %}
     <span class="d-flex justify-content-center align-items-center mb-1" style="color: rgba(9, 53, 71, 1);"><b class="text-uppercase mr-1">{{client.title}}</b> <b>{{client.company_choice}}</b></span>
     <span class="d-flex justify-content-center align-items-center p-2" style="border-radius:200px; border:solid 2px rgba(9, 53, 71, 1);">
         <img class="categoryimg rounded-circle" style="width:100px; height:100px;" src="{{client.profile_image.url}}">
     </span>
     </div>
     {% endfor %}

</div>
</div>

<!-- finish our clients -->
</div>
</div>





  <div class="animation_division " id="scrollDiv4" >
  <!-- start certificates -->
  <div class="d-flex justify-content-center align-items-center mx-4 mt-3"  style="color:rgba(9, 53, 71, 1);">
    <span class="core_service px-5 d-flex justify-content-center align-items-center" >
    <i class="bi bi-file-earmark-pdf mx-2" style="font-size:2rem; color:rgba(9, 53, 71, 1); "></i>
    <b style="font-size:18px;">OUR CERTIFICATES</b>
  </span>
</div>

  <div class="d-flex justify-content-center mb-2">
    <div  class="d-flex flex-nowrap overflow-x-auto  gap-3 p-3 mx-2" style="display: flex;">

        {% for certificate in certificates %}
    <div id="getservice" class="top_providers p-2 text-light flex-shrink-0 bg-white" >
     {% comment %} box-shadow: 0 -2px 5px rgb(2, 24, 13); {% endcomment %}
     {% if certificate.image %}
     <span class="d-flex justify-content-center align-items-center p-2 rounded" style=" border:solid 2px rgba(9, 53, 71, 1);">
         <img class="categoryimg rounded" style="width:300px; height:300px;" src="{{certificate.image.url}}">
     </span>
     {% else %}
          <span class="d-flex justify-content-center align-items-center p-2 rounded" style=" border:solid 2px rgba(9, 53, 71, 1);">
         <img class="categoryimg rounded" style="width:300px; height:300px;" src="{% static '/images/M&B/registration.jpg' %}">
        </span>
     {% endif %}
     <span class="d-flex justify-content-center align-items-center mb-1 mt-2" style="color: rgba(9, 53, 71, 1);">
      <button type="button" class="px-3 py-1 mx-2 text-light text-decoration-none" style="border-radius:25px; background-color: rgba(9, 53, 71, 1);" data-bs-toggle="modal" data-bs-target="#{{certificate.id}}" >View</button>
      <b>{{certificate.certificate_name}}</b></span>
     </div>

     {% endfor %}

    </div>
  </div>
        <!-- finish certificates -->
</div>



{% for certificate in certificates %}
     <!-- The certificate Modal -->
<div class="modal" id="{{certificate.id}}">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
       <!-- start service -->
        <div class=" mx-2 my-2 mx-2 p-3 " style="border-radius:35px; cursor:pointer;">
     <div class="core_service d-flex justify-content-center align-items-center px-2" >
    <i class="bi bi-file-earmark-pdf mx-2" style="font-size:2.5rem; color:rgba(9, 53, 71, 1);"></i>
    <b style="font-size:20px;">{{certificate.certificate_name}}</b></div>
     <span class="mt-3 mb-3 d-flex justify-content-center align-items-center p-2 rounded">
       {% if certificate.image %}
         <img class="categoryimg rounded" style="width:500px; height:500px;" src="{{certificate.image.url}}">
     {% else %}
         <img class="categoryimg rounded" style="width:300px; height:300px;" src="{% static '/images/M&B/registration.jpg' %}">
          {% endif %}
        </span>
        </div>
 <!-- finish service -->
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- end show certificate -->
 {% endfor %}





<!-- start listing partners -->
  <div class="animation_division " id="scrollDiv5" >
<div class="about_us">
<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">
  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>


  <!-- The slideshow/carousel -->
  <div class="carousel-inner ">

     {% for partner in partners %}

     <!-- make first partner carousel-item be active-->
     {% if partner.id == 1 %}
    <div class="carousel-item active">
      {% else %}
      <div class="carousel-item">
        {% endif %}

      <!-- Our team section -->
      <div class=" mt-4 rounded p-5 mx-2 mb-1" >
        <div class="text-center mx-4 mt-4">
            <span class="d-flex justify-content-center align-items-center" style="color:rgba(9, 53, 71, 1); font-size:1.5rem;">OUR PARTNERS</span>
            <i class="bi bi-quote mx-1" style="font-size:1.5rem; color:rgba(9, 53, 71, 1);"></i>
        {{partner.description}}
            <i class="bi bi-quote mx-1 " style="font-size:1.5rem; color:rgba(9, 53, 71, 1);"></i>
        </div>
        <span class="d-flex justify-content-center align-items-center gap-2" style="color:rgba(9, 53, 71, 1);"><b>{{partner.full_name}}</b></span>
        <span class="d-flex justify-content-center align-items-center gap-2" style="color:rgba(9, 53, 71, 1);"><b>{{partner.partner_rank}}</b></span>
        <span class="d-flex justify-content-center align-items-center gap-2" style="color:rgba(9, 53, 71, 1);">Located At <b>{{partner.region}}</b></span>
        {% if partner.profile_image %}
        <div class="d-flex justify-content-center align-items-center mb-3">
            <img class="categoryimg rounded-circle" style="width:90px; height:90px;" src="{{partner.profile_image.url}}">
        </div>
        {% else %}
        {% endif %}
        <hr class="p-1" style="color:rgba(9, 53, 71, 1);">
    </div>
    <!-- finish our team -->

  </div>
      {% endfor %}

  </div>

  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

  </div>
</div>
<!-- end listing partners -->



      <!-- login/logout tag -->
         {% if user.is_authenticated %}
     <div class="fixed_tag d-flex justify-content-end align-items-center p-2 fixed-bottom mb-3 mx-3 gap-1">
        <span class="p-1" style="border-radius:25px; background-color:rgba(9, 53, 71, 1);">
        <span class="navbartabs text-decoration-none" >
              <a class="bi bi-arrow-left-circle text-decoration-none  navbarbutton"  style="background-color:rgb(219, 228, 231); border-radius:50px; color:rgba(5, 45, 63, 1); "  data-label="Logout"  href="{% url 'logout_admin' %}" ></a>
        </span>
    </span>
     </div> 
          {% else %}
            {% endif %}
{% endblock %}
